
* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    max-width: 1600px;
}

.main-body {
    width: 80%;
    text-align: center;
    margin: auto;
}

img {
    width: 100%;
}


.profile {
    margin: 12px 12px;
}

.container {
    width: 100%;
    background-color: lightgrey;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}


.container a {
    display: block;
    text-decoration: none;
}

.main-nav li {
    text-align: center;
    background: white;
    list-style-type: none;
    margin: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}


ul.main-nav {
    padding: 0;
    margin: 0;
}

.container-bottom {
    text-align: center;
    background-color: lightgrey;
    padding: 30px;
}


.bottom-wrap {
    overflow: hidden;
    margin: auto;
}

.bottom-wrap a {
    text-decoration: none;
}

.bottom-name {
    float: left;
}

.top-ref {
    float: right;
}

.bottom {
    display: none;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}


@media (min-width: 768px) {
    .main-nav li {
        display: inline-block;
        background-color: lightgrey;
        margin: 6px 20px;
    }

    .main-body {
        overflow: hidden;
    }
    .container {
        background-color: lightgrey;
        width:100%;
        overflow: hidden;
    }

    .container img {
        width: 30%;
    }

    p.para {
        min-height: 150px;
    }

    .intro {
        text-align: left;
    }

    .profile {
        float:right;
    }

    .first {
        display: inline-block;
        width: 45%;
        float: left;
    }
    .second {
        display: inline-block;
        width: 45%;
        float: right;
    }
    .third {
        display: inline-block;
        width: 45%;
        float: left;
    }
    .fourth {
        display: inline-block;
        width: 45%;
        float: right;
    }
    .fifth {
        display: inline-block;
        width: 45%;
        float: left;
    }
    .sixth {
        display: inline-block;
        width: 45%;
        float: right;
    }

    ul.bottom-nav {
        margin: 0;
        padding: 0;
    }

    .container-bottom {
        background-color: lightgrey;
        display: block;
    }

    .bottom {
        overflow: hidden;
        display: block;
    }

    .bottom a {
        text-decoration: none;
        font-size: 20px;
    }

    .bottom-nav li,
    .bot-name,
    .bottom-nav {
        display: inline-block;
        background-color: lightgrey;
        margin: 0 20px;
    }

    .bottom-nav {
        float: right;
    }

    .bot-name {
        float: left;
        list-style-type: none;
        font-size: 20px;
    }

    .bottom-nav a {
        font-size: 20px;
    }
    .bottom-wrap {
        display: none;
    }

    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
}

@media (min-width: 1024px) {
    .main-nav li,
    .name, 
    .main-nav {
        display: inline-block;
        background-color: lightgrey;
        margin: 0 20px;
    }
    .main-nav {
        float: right;
    }
    
    .container {
        background-color: lightgrey;
        width: 100%;
        text-align: left;
    }

    .first {
        display: inline-block;
        width: 30%;
        float: left;
    }

    .second {
        display: inline-block;
        width: 30%;
        float: none;
    }

    .third {
        display: inline-block;
        width: 30%;
        float: right;
    }

    .fourth {
        display: inline-block;
        width: 30%;
        float: left;
    }

    .fifth {
        display: inline-block;
        width: 30%;
        float: none;
    }

    .sixth {
        display: inline-block;
        width: 30%;
        float: right;
    }
    .profile {
        float: right;
        margin-right: 20px;
    }
    .container-bottom {
        width: 100%;
    }

    .bottom {
        display: block;
    }

    .bottom-nav li,
    .bot-name,
    .bottom-nav {
        display: inline-block;
        background-color: lightgrey;
    }

    .bottom-nav {
        float: right;
    }

    .bot-name {
        float: left;
        list-style-type: none;
        font-size: 30px;
    }

    .bottom-nav a {
        font-size: 30px;
    }

    .bottom-wrap {
        display: none;
    }
 
}