
* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
}

.main-body {
    width: 80%;
    text-align: center;
    margin: auto;
}
img {
    width: 100%;
}

.profile {
    margin: 12px 12px;
}

.container img {
    width: 70%;
}

.container {
    width: 90%;
    background-color: lightgrey;
    text-align: center;
    margin: 0 auto;
    padding: 20px 20px;
}

.container-bottom {
    width: 90%;
    background-color: lightgrey;
    text-align: center;
    margin: 0 auto;
    padding: 20px 20px;
}

.main-nav li {
    text-align: center;
    background: white;
    list-style-type: none;
    margin: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.container a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

ul.main-nav {
    padding: 0;
    margin: 0;
}

.bottom,
.bottom li {
    display: inline-block;
}
.bottom-name {
    float: left;
}

.top-ref {
    float: right;
}

.bottom-wrap {
    margin: 20px 20px;
    padding: 20px 20px;
}

@media (min-width: 760px) {
    .main-nav li {
        display: inline-block;
        background-color: lightgrey;
        margin: 6px 20px;
    }
    .container {
        background-color: lightgrey;
        margin-bottom: 50px;
        padding-bottom: 50px;
        width:90%;
        overflow: hidden;
    }

    .container img {
        width: 30%;
    }
    .profile {
        float:right;
    }
    .first {
        display: inline-block;
        width: 45%;
        float: left;
    }
    .second {
        display: inline-block;
        width: 45%;
        float: right;
    }
    .third {
        display: inline-block;
        width: 45%;
        float: left;
    }
    .fourth {
        display: inline-block;
        width: 45%;
        float: right;
    }
    .fifth {
        display: inline-block;
        width: 45%;
        float: left;
    }
    .sixth {
        display: inline-block;
        width: 45%;
        float: right;
    }
    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
}

@media (min-width: 1024px) {
    .main-nav li,
    .name, 
    .main-nav {
        display: inline-block;
        background-color: lightgrey;
        margin: 0 20px;
    }
    .main-nav {
        margin-right: 0; 
        float: right;
    }
    
    .container {
        background-color: lightgrey;
        margin-bottom: 50px;
        padding-bottom: 50px;
        width: 90%;
        text-align: left;
        padding: 20px 20px;
    }

    .container img {
        width: 30%;
    }

    .first {
        display: inline-block;
        width: 30%;
        float: left;
    }

    .second {
        display: inline-block;
        width: 30%;
        float: none;
    }

    .third {
        display: inline-block;
        width: 30%;
        float: right;
    }

    .fourth {
        display: inline-block;
        width: 30%;
        float: left;
    }

    .fifth {
        display: inline-block;
        width: 30%;
        float: none;
    }

    .sixth {
        display: inline-block;
        width: 30%;
        float: right;
    }
    .profile {
        float: right;
        margin-right: 20px;
    }
 
}